html {
  width: 100%;
  height: 100%;
}

body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#999));
  font-family: Lato, sans-serif;
  height: 100%;
  margin: 0;
  /*  overflow: scroll;*/
  overflow: hidden;
  padding: 0;
  height: 100%;
  /*  height: 948px;*/
  vertical-align: middle;
  /*  width: 1625px;*/
  width: 100%;
}

main {
  display: flex;
  height: 800px;
  height: 100%;
  width: 100%;
}

.cont {
  height: 100%;
  opacity: 0.2;
  opacity: 1.0;
  width: 80%;
  width: 100%;
}

.cont > div {
  height: 100%;
  width: 100%;
}

.cont > div canvas {
  background-color: white;
  display: block;
  height: 100%;
  opacity: 1.0;
  position: relative;
  width: 100%;
}

.explain {
  background-color: white;
  color: white;
  color: black;
  display: none;
  height: calc(100% - 80px);
  left: 0;
  opacity: 0.8;
  padding: 40px;
  position: absolute;
  top: 0;
  width: calc(80% - 80px);
  width: calc(1625px * 0.8 - 80px);
  z-index: 100;
}

.explain div {
  height: auto;
  padding: 20px 10px;
  width: calc(85% - 20px);
}

.explain div .img {
  background-color: gray;
  display: block;
  float: left;
  height: 200px;
  margin-right: 20px;
  opacity: 0.8;
  position: relative;
  text-align: center;
  width: calc(320px - 20px);
}

.explain div h3 {
  display: inline-block;
  margin: 0;
  width: calc(100% - 340px);
}

.explain div p {
  display: inline-block;
  margin-bottom: 0;
  width: calc(100% - 340px);
}

.aside {
  border: 1px solid orange;
}

.sideWebgl {
  background-color: transparent;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 0px;
  position: absolute;
  bottom: 20px;
  right: -150px;
  width: 20%;
}

.sideWebgl li a {
  text-decoration: none;
}

.sideWebgl li a img {
  height: 100%;
  opacity: 0.6;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.sideWebgl li a img:hover {
  transform: scale(1.1, 1.1);
}

.sideWebgl li.active {
  /*
  border-left: 5px solid orange;
  padding-left: 10px;
*/
}

.sideWebgl li.active img {
  opacity: 1.0;
  transform: scale(1.1, 1.1);
}

/*lod-terrain*/

#container-lod {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#threejs-container {
  background: #000;
  color: #666;
  height: 100%;
  height: 948px;
  width: 100%;
}


#threejs-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.textFade {
  background: -webkit-linear-gradient(top, white, transparent);
  color: black;
  font-size: 100px;
  /*  height: 100%;*/
  left: 0;
  padding-top: 100px;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.boxFade {
  background-image: url("../images/wireframe.png");
  background-position: 0px 515px;
  border-bottom: 5px solid dimgray;
  /*  display: none;*/
  height: 250px;
  opacity: 0.9;
  position: absolute;
  right: -15%;
  transition: 0.2s ease-in-out;
  transform: rotate(65deg);
  top: 0;
  width: 410px;
}

.boxFade:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1) rotate(65deg);
}

.boxFade2 {
  background-image: url("../images/terrain.png");
  background-position: 0px 40%;
  border-bottom: 5px solid dimgray;
  display: none;
  height: 250px;
  opacity: 0.9;
  position: absolute;
  right: -15%;
  transition: 0.2s ease-in-out;
  transform: rotate(65deg);
  top: 0;
  width: 410px;
}

.boxFade2:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1) rotate(65deg);
}
